In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [67]:
advanced_df = pd.read_csv('data/advanced_stats.csv')
avg_df = pd.read_csv('data/avg_stats.csv')
total_df = pd.read_csv('data/total_stats.csv')
champions_df = pd.read_csv('data/champions.csv')

__Examining the data__

In [68]:
champions_df[champions_df.Year >= 1980].isnull().sum() # unnamed column that is 7th from beginning is only null
champions_df[champions_df.Year >= 1980].Champion.value_counts()

Champion
Los Angeles Lakers       11
Chicago Bulls             6
San Antonio Spurs         5
Boston Celtics            5
Golden State Warriors     4
Detroit Pistons           3
Miami Heat                3
Houston Rockets           2
Denver Nuggets            1
Milwaukee Bucks           1
Toronto Raptors           1
Cleveland Cavaliers       1
Dallas Mavericks          1
Philadelphia 76ers        1
Name: count, dtype: int64

__We only need 3 columns from champions dataset: Year, Champion, Runner-up__

__Examining avg_df__

In [69]:
print("shape of dataframe i.e, (rows,colums)",avg_df.shape)
avg_df.info()

shape of dataframe i.e, (rows,colums) (1299, 27)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1299 non-null   int64
 1   Rk          1254 non-null   float64
 2   Team        1299 non-null   object
 3   G           1299 non-null   int64
 4   MP          1299 non-null   float64
 5   FG          1299 non-null   float64
 6   FGA         1299 non-null   float64
 7   FG%         1299 non-null   float64
 8   3P          1299 non-null   float64
 9   3PA         1299 non-null   float64
 10  3P%         1299 non-null   float64
 11  2P          1299 non-null   float64
 12  2PA         1299 non-null   float64
 13  2P%         1299 non-null   float64
 14  FT          1299 non-null   float64
 15  FTA         1299 non-null   float64
 16  FT%         1299 non-null   float64
 17  ORB         1299 non-null   float64
 18  DRB         1299 non-null   float64
 19  TRB         1299 non-null   float64
 20  AST         1299 non-null   float64
 21  STL         1299 non-null   float64
 22  BLK         1299 non-null   float64
 23  TOV         1299 non-null   float64
 24  PF          1299 non-null   float64
 25  PTS         1299 non-null   float64
 26  Year        1299 non-null   int64
dtypes: float64(23), int64(3), object(1)
memory usage: 274.1+ KB

In [70]:
avg_df.duplicated().sum() #zero duplicate values.

np.int64(0)

avg_df have barely any null values

__Examining Advanced_df__

In [71]:
advanced_df.head()

,Unnamed: 0,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G,Year
0,0,1.0,Boston Celtics*,27.3,61.0,21.0,60,22,7.79,-0.42,7.37,109.4,101.9,7.5,102.6,0.332,0.057,0.550,NaN,0.501,15.4,34.8,0.258,NaN,0.475,16.5,67.8,0.234,NaN,Boston Garden,596349.0,4888.0,1980
1,1,2.0,Los Angeles Lakers*,26.2,60.0,22.0,55,27,5.90,-0.51,5.40,109.5,103.9,5.6,104.1,0.284,0.014,0.569,NaN,0.530,16.5,32.6,0.220,NaN,0.475,14.0,66.9,0.181,NaN,The Forum,582882.0,427.0,1980
2,2,3.0,Seattle SuperSonics*,27.0,56.0,26.0,53,29,4.66,-0.42,4.24,105.8,101.2,4.6,101.8,0.298,0.025,0.520,NaN,0.474,14.9,36.4,0.229,NaN,0.463,15.4,67.9,0.221,NaN,NaN,NaN,NaN,1980
3,3,4.0,Philadelphia 76ers*,27.0,59.0,23.0,52,30,4.22,-0.18,4.04,105.0,101.0,4.0,103.0,0.340,0.017,0.544,NaN,0.494,17.2,33.5,0.262,NaN,0.460,15.5,66.7,0.217,NaN,The Spectrum,NaN,NaN,1980
4,4,5.0,Milwaukee Bucks*,25.3,49.0,33.0,51,31,3.94,-0.37,3.57,106.8,102.9,3.9,102.4,0.278,0.021,0.532,NaN,0.491,15.0,35.2,0.212,NaN,0.467,16.2,63.8,0.229,NaN,MECCA Arena,NaN,547.0,1980

In [72]:
advanced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1299 non-null   int64
 1   Rk           1254 non-null   float64
 2   Team         1299 non-null   object
 3   Age          1299 non-null   float64
 4   W            1254 non-null   float64
 5   L            1254 non-null   float64
 6   PW           1299 non-null   int64
 7   PL           1299 non-null   int64
 8   MOV          1299 non-null   float64
 9   SOS          1299 non-null   float64
 10  SRS          1299 non-null   float64
 11  ORtg         1299 non-null   float64
 12  DRtg         1299 non-null   float64
 13  NRtg         1254 non-null   float64
 14  Pace         1299 non-null   float64
 15  FTr          1299 non-null   float64
 16  3PAr         1299 non-null   float64
 17  TS%          1299 non-null   float64
 18  Unnamed: 17  0 non-null      float64
 19  eFG%         1299 non-null   float64
 20  TOV%         1299 non-null   float64
 21  ORB%         1299 non-null   float64
 22  FT/FGA       1299 non-null   float64
 23  Unnamed: 22  0 non-null      float64
 24  eFG%.1       1299 non-null   float64
 25  TOV%.1       1299 non-null   float64
 26  DRB%         1299 non-null   float64
 27  FT/FGA.1     1299 non-null   float64
 28  Unnamed: 27  0 non-null      float64
 29  Arena        1248 non-null   object
 30  Attend.      1275 non-null   float64
 31  Attend./G    1285 non-null   float64
 32  Year         1299 non-null   int64
dtypes: float64(27), int64(4), object(2)
memory usage: 335.0+ KB

In [73]:
advanced_df.Team.value_counts()

Team
League Average                       45
Los Angeles Lakers*                  36
San Antonio Spurs*                   36
Boston Celtics*                      35
Portland Trail Blazers*              34
Utah Jazz*                           31
Golden State Warriors                30
Houston Rockets*                     30
Atlanta Hawks*                       29
Phoenix Suns*                        29
Milwaukee Bucks*                     29
Philadelphia 76ers*                  28
Indiana Pacers*                      28
Sacramento Kings                     28
Denver Nuggets*                      27
Chicago Bulls*                       27
Los Angeles Clippers                 25
Dallas Mavericks*                    25
Miami Heat*                          25
Cleveland Cavaliers                  24
New York Knicks*                     24
Detroit Pistons*                     23
Minnesota Timberwolves               23
Detroit Pistons                      22
New York Knicks                      21
Cleveland Cavaliers*                 21
Dallas Mavericks                     19
Seattle SuperSonics*                 18
Orlando Magic                        18
Chicago Bulls                        18
Denver Nuggets                       18
Washington Wizards                   18
New Jersey Nets                      18
Indiana Pacers                       17
Philadelphia 76ers                   17
Orlando Magic*                       17
Charlotte Hornets                    16
Milwaukee Bucks                      16
Phoenix Suns                         16
Atlanta Hawks                        16
Toronto Raptors                      16
Los Angeles Clippers*                15
New Jersey Nets*                     15
Golden State Warriors*               15
Houston Rockets                      15
Utah Jazz                            14
Memphis Grizzlies*                   13
Toronto Raptors*                     13
Minnesota Timberwolves*              12
Oklahoma City Thunder*               11
Portland Trail Blazers               11
Sacramento Kings*                    11
Miami Heat                           11
Seattle SuperSonics                  11
Washington Bullets                   10
Memphis Grizzlies                    10
Boston Celtics                       10
Washington Wizards*                   9
Los Angeles Lakers                    9
San Antonio Spurs                     9
Charlotte Bobcats                     8
Brooklyn Nets*                        8
Washington Bullets*                   8
Charlotte Hornets*                    8
New Orleans Pelicans                  7
Vancouver Grizzlies                   6
Oklahoma City Thunder                 5
San Diego Clippers                    5
New Orleans Hornets*                  5
Brooklyn Nets                         4
New Orleans Pelicans*                 4
New Orleans Hornets                   4
Kansas City Kings*                    3
Kansas City Kings                     3
Charlotte Bobcats*                    2
New Orleans/Oklahoma City Hornets     2
Name: count, dtype: int64

In [74]:
advanced_df.duplicated().sum() #zero duplicate values.

np.int64(0)

__Observation of advanced_df__
    
    There are a number of columns that we can drop from this table; some of them are filled with null values. More specifically the columns with "unamed" in their names. There are also a couple of columns that are misnamed specifically the one with the ".1" in their names. Furthermore, we also see that there are quite a number of NBA teams that don't exist anymore or have changed their names. This is very much unlike the last dataset where all the names are up-to-date.

    One of the NBA teams' names is "League Average" which is something we will have to deal with because it seems to be affecting the 'Rk' column by producing null values. Therefore, the best way to deal with the it would be to drop it; furthermore, it's easy to see how rows with this value will affect the future exploration. I also think its a good idea to turn the proportion into percentages as well. Lastly, we will also need to deal with the asterick next to every NBA team that made the playoff in a given year. We will create a new column for that. Keep in mind that we will only create this column for this dataset and not all of them

__Examining total_Df__

In [75]:
total_df.head()

,Unnamed: 0,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1.0,San Antonio Spurs*,82,19755,3856,7738,0.498,52,206,0.252,3804,7532,0.505,2024,2528,0.801,1153,2515,3668,2326,771,333,1589,2103,9788,1980
1,1,2.0,Los Angeles Lakers*,82,19880,3898,7368,0.529,20,100,0.200,3878,7268,0.534,1622,2092,0.775,1085,2653,3738,2413,774,546,1639,1784,9438,1980
2,2,3.0,Cleveland Cavaliers,82,19930,3811,8041,0.474,36,187,0.193,3775,7854,0.481,1702,2205,0.772,1307,2381,3688,2108,764,342,1370,1934,9360,1980
3,3,4.0,New York Knicks,82,19780,3802,7672,0.496,42,191,0.220,3760,7481,0.503,1698,2274,0.747,1236,2303,3539,2265,881,457,1613,2168,9344,1980
4,4,5.0,Boston Celtics*,82,19880,3617,7387,0.490,162,422,0.384,3455,6965,0.496,1907,2449,0.779,1227,2457,3684,2198,809,308,1539,1974,9303,1980

In [76]:
total_df.isnull().sum()

Unnamed: 0     0
Rk            45
Team           0
G              0
MP             0
FG             0
FGA            0
FG%            0
3P             0
3PA            0
3P%            0
2P             0
2PA            0
2P%            0
FT             0
FTA            0
FT%            0
ORB            0
DRB            0
TRB            0
AST            0
STL            0
BLK            0
TOV            0
PF             0
PTS            0
Year           0
dtype: int64

__Cleaning the data__

In [77]:
def cleaner(df):
    df['Team'] = df['Team'].apply(lambda x: x.replace('*',''))
    
    df.drop(df.index[df.Team == 'League Average'], inplace = True)
    
    df.replace({'Team':{'Seattle SuperSonics': 'Oklahoma City Thunder', 
                        'Washington Bullets':'Washington Wizards', 'Charlotte Bobcats':'Charlotte Hornets',
                        'New Orleans Hornets':'New Orleans Pelicans', 'Kansas City Kings':'Sacramento Kings',
                        'Vancouver Grizzlies': 'Memphis Grizzlies', 'San Diego Clippers':'Los Angeles Clippers',
                        'New Orleans/Oklahoma City Hornets': 'New Orleans Pelicans', 
                        'New Jersey Nets':'Brooklyn Nets'}}, 
               inplace = True)
    
    return df

In [78]:
advanced_df['Playoff'] = [True if '*' in x else False for x in advanced_df['Team']]
advanced_df.head()

,Unnamed: 0,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G,Year,Playoff
0,0,1.0,Boston Celtics*,27.3,61.0,21.0,60,22,7.79,-0.42,7.37,109.4,101.9,7.5,102.6,0.332,0.057,0.550,NaN,0.501,15.4,34.8,0.258,NaN,0.475,16.5,67.8,0.234,NaN,Boston Garden,596349.0,4888.0,1980,True
1,1,2.0,Los Angeles Lakers*,26.2,60.0,22.0,55,27,5.90,-0.51,5.40,109.5,103.9,5.6,104.1,0.284,0.014,0.569,NaN,0.530,16.5,32.6,0.220,NaN,0.475,14.0,66.9,0.181,NaN,The Forum,582882.0,427.0,1980,True
2,2,3.0,Seattle SuperSonics*,27.0,56.0,26.0,53,29,4.66,-0.42,4.24,105.8,101.2,4.6,101.8,0.298,0.025,0.520,NaN,0.474,14.9,36.4,0.229,NaN,0.463,15.4,67.9,0.221,NaN,NaN,NaN,NaN,1980,True
3,3,4.0,Philadelphia 76ers*,27.0,59.0,23.0,52,30,4.22,-0.18,4.04,105.0,101.0,4.0,103.0,0.340,0.017,0.544,NaN,0.494,17.2,33.5,0.262,NaN,0.460,15.5,66.7,0.217,NaN,The Spectrum,NaN,NaN,1980,True
4,4,5.0,Milwaukee Bucks*,25.3,49.0,33.0,51,31,3.94,-0.37,3.57,106.8,102.9,3.9,102.4,0.278,0.021,0.532,NaN,0.491,15.0,35.2,0.212,NaN,0.467,16.2,63.8,0.229,NaN,MECCA Arena,NaN,547.0,1980,True

In [79]:
cleaner(advanced_df)
advanced_df.head()

,Unnamed: 0,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G,Year,Playoff
0,0,1.0,Boston Celtics,27.3,61.0,21.0,60,22,7.79,-0.42,7.37,109.4,101.9,7.5,102.6,0.332,0.057,0.550,NaN,0.501,15.4,34.8,0.258,NaN,0.475,16.5,67.8,0.234,NaN,Boston Garden,596349.0,4888.0,1980,True
1,1,2.0,Los Angeles Lakers,26.2,60.0,22.0,55,27,5.90,-0.51,5.40,109.5,103.9,5.6,104.1,0.284,0.014,0.569,NaN,0.530,16.5,32.6,0.220,NaN,0.475,14.0,66.9,0.181,NaN,The Forum,582882.0,427.0,1980,True
2,2,3.0,Oklahoma City Thunder,27.0,56.0,26.0,53,29,4.66,-0.42,4.24,105.8,101.2,4.6,101.8,0.298,0.025,0.520,NaN,0.474,14.9,36.4,0.229,NaN,0.463,15.4,67.9,0.221,NaN,NaN,NaN,NaN,1980,True
3,3,4.0,Philadelphia 76ers,27.0,59.0,23.0,52,30,4.22,-0.18,4.04,105.0,101.0,4.0,103.0,0.340,0.017,0.544,NaN,0.494,17.2,33.5,0.262,NaN,0.460,15.5,66.7,0.217,NaN,The Spectrum,NaN,NaN,1980,True
4,4,5.0,Milwaukee Bucks,25.3,49.0,33.0,51,31,3.94,-0.37,3.57,106.8,102.9,3.9,102.4,0.278,0.021,0.532,NaN,0.491,15.0,35.2,0.212,NaN,0.467,16.2,63.8,0.229,NaN,MECCA Arena,NaN,547.0,1980,True

In [80]:
print("Total teams currently in NBA:",len(advanced_df['Team'].value_counts()))

Total teams currently in NBA: 30

In [81]:
advanced_df[advanced_df.Team =='League Average'] # League average was removed as it was not a part of teams

Empty DataFrame
Columns: [Unnamed: 0, Rk, Team, Age, W, L, PW, PL, MOV, SOS, SRS, ORtg, DRtg, NRtg, Pace, FTr, 3PAr, TS%, Unnamed: 17, eFG%, TOV%, ORB%, FT/FGA, Unnamed: 22, eFG%.1, TOV%.1, DRB%, FT/FGA.1, Unnamed: 27, Arena, Attend., Attend./G, Year, Playoff]
Index: []

In [82]:
advanced_df = advanced_df[['Team', 'Age', 'W', 'L', 'MOV', 'ORtg', 'DRtg', 'Pace', 
                        '3PAr', 'eFG%', 'TS%', 'TOV%','ORB%', 'Year', 'Playoff']]
advanced_df.head()

,Team,Age,W,L,MOV,ORtg,DRtg,Pace,3PAr,eFG%,TS%,TOV%,ORB%,Year,Playoff
0,Boston Celtics,27.3,61.0,21.0,7.79,109.4,101.9,102.6,0.057,0.501,0.550,15.4,34.8,1980,True
1,Los Angeles Lakers,26.2,60.0,22.0,5.90,109.5,103.9,104.1,0.014,0.530,0.569,16.5,32.6,1980,True
2,Oklahoma City Thunder,27.0,56.0,26.0,4.66,105.8,101.2,101.8,0.025,0.474,0.520,14.9,36.4,1980,True
3,Philadelphia 76ers,27.0,59.0,23.0,4.22,105.0,101.0,103.0,0.017,0.494,0.544,17.2,33.5,1980,True
4,Milwaukee Bucks,25.3,49.0,33.0,3.94,106.8,102.9,102.4,0.021,0.491,0.532,15.0,35.2,1980,True

In [83]:
advanced_df['eFG%'] = advanced_df['eFG%'].apply(lambda x: x * 100)
advanced_df['3PAr'] = advanced_df['3PAr'].apply(lambda x: x * 100)
advanced_df['TS%'] = advanced_df['TS%'].apply(lambda x: x * 100)

In [ ]:
advanced_df['W'] = advanced_df['W'].astype(int)
advanced_df['L'] = advanced_df['L'].astype(int)
np.dtype(advanced_df['W']), np.dtype(advanced_df['L'])

In [87]:
advanced_df.rename(columns={'W': 'Wins', 'L': 'Losses'}, inplace=True)
advanced_df.head(1)

,Team,Age,Wins,Losses,MOV,ORtg,DRtg,Pace,3PAr,eFG%,TS%,TOV%,ORB%,Year,Playoff
0,Boston Celtics,27.3,61,21,7.79,109.4,101.9,102.6,5.7,50.1,55.0,15.4,34.8,1980,True

__Total_df__

In [89]:
total_df = total_df[['Team', 'FG', 'FGA','FG%','2P', '2PA', 
                     '2P%', '3P', '3PA', '3P%','FT', 'FTA','ORB', 'TRB', 
                     'AST','TOV', 'PTS', 'Year']]
total_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year
0,San Antonio Spurs*,3856,7738,0.498,3804,7532,0.505,52,206,0.252,2024,2528,1153,3668,2326,1589,9788,1980
1,Los Angeles Lakers*,3898,7368,0.529,3878,7268,0.534,20,100,0.200,1622,2092,1085,3738,2413,1639,9438,1980
2,Cleveland Cavaliers,3811,8041,0.474,3775,7854,0.481,36,187,0.193,1702,2205,1307,3688,2108,1370,9360,1980
3,New York Knicks,3802,7672,0.496,3760,7481,0.503,42,191,0.220,1698,2274,1236,3539,2265,1613,9344,1980
4,Boston Celtics*,3617,7387,0.490,3455,6965,0.496,162,422,0.384,1907,2449,1227,3684,2198,1539,9303,1980

In [90]:
total_df['3P%'] = total_df['3P%'].apply(lambda x: x * 100)
total_df['2P%'] = total_df['2P%'].apply(lambda x: x * 100)
total_df['FG%'] = total_df['FG%'].apply(lambda x: x * 100)

total_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year
0,San Antonio Spurs*,3856,7738,49.8,3804,7532,50.5,52,206,25.2,2024,2528,1153,3668,2326,1589,9788,1980
1,Los Angeles Lakers*,3898,7368,52.9,3878,7268,53.4,20,100,20.0,1622,2092,1085,3738,2413,1639,9438,1980
2,Cleveland Cavaliers,3811,8041,47.4,3775,7854,48.1,36,187,19.3,1702,2205,1307,3688,2108,1370,9360,1980
3,New York Knicks,3802,7672,49.6,3760,7481,50.3,42,191,22.0,1698,2274,1236,3539,2265,1613,9344,1980
4,Boston Celtics*,3617,7387,49.0,3455,6965,49.6,162,422,38.4,1907,2449,1227,3684,2198,1539,9303,1980

In [91]:
total_df['Playoff'] = [True if '*' in x else False for x in total_df['Team']]
total_df.head(10)

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year,Playoff
0,San Antonio Spurs*,3856,7738,49.8,3804,7532,50.5,52,206,25.2,2024,2528,1153,3668,2326,1589,9788,1980,True
1,Los Angeles Lakers*,3898,7368,52.9,3878,7268,53.4,20,100,20.0,1622,2092,1085,3738,2413,1639,9438,1980,True
2,Cleveland Cavaliers,3811,8041,47.4,3775,7854,48.1,36,187,19.3,1702,2205,1307,3688,2108,1370,9360,1980,False
3,New York Knicks,3802,7672,49.6,3760,7481,50.3,42,191,22.0,1698,2274,1236,3539,2265,1613,9344,1980,False
4,Boston Celtics*,3617,7387,49.0,3455,6965,49.6,162,422,38.4,1907,2449,1227,3684,2198,1539,9303,1980,True
5,Indiana Pacers,3639,7689,47.3,3551,7375,48.1,88,314,28.0,1753,2333,1398,3724,2148,1517,9119,1980,False
6,Phoenix Suns*,3570,7235,49.3,3502,6955,50.4,68,280,24.3,1906,2466,1071,3529,2283,1629,9114,1980,True
7,Houston Rockets*,3599,7496,48.0,3495,7117,49.1,104,379,27.4,1782,2326,1394,3611,2149,1565,9084,1980,True
8,Milwaukee Bucks*,3685,7553,48.8,3635,7398,49.1,50,155,32.3,1605,2102,1245,3641,2277,1496,9025,1980,True
9,Philadelphia 76ers*,3523,7156,49.2,3496,7031,49.7,27,125,21.6,1876,2431,1187,3822,2226,1708,8949,1980,True

In [92]:
total_df = cleaner(total_df)
total_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year,Playoff
0,San Antonio Spurs,3856,7738,49.8,3804,7532,50.5,52,206,25.2,2024,2528,1153,3668,2326,1589,9788,1980,True
1,Los Angeles Lakers,3898,7368,52.9,3878,7268,53.4,20,100,20.0,1622,2092,1085,3738,2413,1639,9438,1980,True
2,Cleveland Cavaliers,3811,8041,47.4,3775,7854,48.1,36,187,19.3,1702,2205,1307,3688,2108,1370,9360,1980,False
3,New York Knicks,3802,7672,49.6,3760,7481,50.3,42,191,22.0,1698,2274,1236,3539,2265,1613,9344,1980,False
4,Boston Celtics,3617,7387,49.0,3455,6965,49.6,162,422,38.4,1907,2449,1227,3684,2198,1539,9303,1980,True

__Avg_df__

In [97]:
avg_df = avg_df[['Team', 'FG', 'FGA','FG%','2P', '2PA', 
                     '2P%', '3P', '3PA', '3P%','FT', 'FTA', 'FT%','AST','ORB' ,'TRB', 'PTS', 'Year']]
avg_df = cleaner(avg_df)
avg_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,AST,ORB,TRB,PTS,Year
0,San Antonio Spurs,47.0,94.4,0.498,46.4,91.9,0.505,0.6,2.5,0.252,24.7,30.8,0.801,28.4,14.1,44.7,119.4,1980
1,Los Angeles Lakers,47.5,89.9,0.529,47.3,88.6,0.534,0.2,1.2,0.200,19.8,25.5,0.775,29.4,13.2,45.6,115.1,1980
2,Cleveland Cavaliers,46.5,98.1,0.474,46.0,95.8,0.481,0.4,2.3,0.193,20.8,26.9,0.772,25.7,15.9,45.0,114.1,1980
3,New York Knicks,46.4,93.6,0.496,45.9,91.2,0.503,0.5,2.3,0.220,20.7,27.7,0.747,27.6,15.1,43.2,114.0,1980
4,Boston Celtics,44.1,90.1,0.490,42.1,84.9,0.496,2.0,5.1,0.384,23.3,29.9,0.779,26.8,15.0,44.9,113.5,1980

In [98]:
for col in avg_df.columns: 
    if '%' in col:
        avg_df[col] = avg_df[col].apply(lambda x: x * 100)
avg_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,AST,ORB,TRB,PTS,Year
0,San Antonio Spurs,47.0,94.4,49.8,46.4,91.9,50.5,0.6,2.5,25.2,24.7,30.8,80.1,28.4,14.1,44.7,119.4,1980
1,Los Angeles Lakers,47.5,89.9,52.9,47.3,88.6,53.4,0.2,1.2,20.0,19.8,25.5,77.5,29.4,13.2,45.6,115.1,1980
2,Cleveland Cavaliers,46.5,98.1,47.4,46.0,95.8,48.1,0.4,2.3,19.3,20.8,26.9,77.2,25.7,15.9,45.0,114.1,1980
3,New York Knicks,46.4,93.6,49.6,45.9,91.2,50.3,0.5,2.3,22.0,20.7,27.7,74.7,27.6,15.1,43.2,114.0,1980
4,Boston Celtics,44.1,90.1,49.0,42.1,84.9,49.6,2.0,5.1,38.4,23.3,29.9,77.9,26.8,15.0,44.9,113.5,1980

In [99]:
new_avg_df = advanced_df.merge(avg_df, how = "left", on = ['Team', 'Year'])
new_avg_df.head()

,Team,Age,Wins,Losses,MOV,ORtg,DRtg,Pace,3PAr,eFG%,TS%,TOV%,ORB%,Year,Playoff,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,AST,ORB,TRB,PTS
0,Boston Celtics,27.3,61,21,7.79,109.4,101.9,102.6,5.7,50.1,55.0,15.4,34.8,1980,True,44.1,90.1,49.0,42.1,84.9,49.6,2.0,5.1,38.4,23.3,29.9,77.9,26.8,15.0,44.9,113.5
1,Los Angeles Lakers,26.2,60,22,5.90,109.5,103.9,104.1,1.4,53.0,56.9,16.5,32.6,1980,True,47.5,89.9,52.9,47.3,88.6,53.4,0.2,1.2,20.0,19.8,25.5,77.5,29.4,13.2,45.6,115.1
2,Oklahoma City Thunder,27.0,56,26,4.66,105.8,101.2,101.8,2.5,47.4,52.0,14.9,36.4,1980,True,43.3,92.3,47.0,42.6,90.0,47.4,0.7,2.3,31.2,21.1,27.5,76.8,24.9,16.8,47.9,108.5
3,Philadelphia 76ers,27.0,59,23,4.22,105.0,101.0,103.0,1.7,49.4,54.4,17.2,33.5,1980,True,43.0,87.3,49.2,42.6,85.7,49.7,0.3,1.5,21.6,22.9,29.6,77.2,27.1,14.5,46.6,109.1
4,Milwaukee Bucks,25.3,49,33,3.94,106.8,102.9,102.4,2.1,49.1,53.2,15.0,35.2,1980,True,44.9,92.1,48.8,44.3,90.2,49.1,0.6,1.9,32.3,19.6,25.6,76.4,27.8,15.2,44.4,110.1

In [100]:
new_avg_df = new_avg_df[['Team','Age', 'Wins','Losses', 'Year', 'Playoff', 'FG',  
            'FGA',  'FG%',  '2P',  '2PA',  '2P%', '3P',  
            '3PA',  '3P%','3PAr', 'eFG%', 'FT', 'FTA', 'FT%', 'TS%', 
            'AST','ORB' ,'TRB', 'PTS', 'MOV',  'ORtg',  'DRtg',  'Pace',   
            'TOV%',  'ORB%',]]
new_avg_df.head()

,Team,Age,Wins,Losses,Year,Playoff,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,3PAr,eFG%,FT,FTA,FT%,TS%,AST,ORB,TRB,PTS,MOV,ORtg,DRtg,Pace,TOV%,ORB%
0,Boston Celtics,27.3,61,21,1980,True,44.1,90.1,49.0,42.1,84.9,49.6,2.0,5.1,38.4,5.7,50.1,23.3,29.9,77.9,55.0,26.8,15.0,44.9,113.5,7.79,109.4,101.9,102.6,15.4,34.8
1,Los Angeles Lakers,26.2,60,22,1980,True,47.5,89.9,52.9,47.3,88.6,53.4,0.2,1.2,20.0,1.4,53.0,19.8,25.5,77.5,56.9,29.4,13.2,45.6,115.1,5.90,109.5,103.9,104.1,16.5,32.6
2,Oklahoma City Thunder,27.0,56,26,1980,True,43.3,92.3,47.0,42.6,90.0,47.4,0.7,2.3,31.2,2.5,47.4,21.1,27.5,76.8,52.0,24.9,16.8,47.9,108.5,4.66,105.8,101.2,101.8,14.9,36.4
3,Philadelphia 76ers,27.0,59,23,1980,True,43.0,87.3,49.2,42.6,85.7,49.7,0.3,1.5,21.6,1.7,49.4,22.9,29.6,77.2,54.4,27.1,14.5,46.6,109.1,4.22,105.0,101.0,103.0,17.2,33.5
4,Milwaukee Bucks,25.3,49,33,1980,True,44.9,92.1,48.8,44.3,90.2,49.1,0.6,1.9,32.3,2.1,49.1,19.6,25.6,76.4,53.2,27.8,15.2,44.4,110.1,3.94,106.8,102.9,102.4,15.0,35.2

__Champions_df__

In [102]:
champions_df = champions_df[['Year', 'Champion', 'Runner-Up']]
champions_df = champions_df[champions_df.Year >= 1980]
champions_df.head()

     Year               Champion         Runner-Up
0  2024.0         Boston Celtics  Dallas Mavericks
1  2023.0         Denver Nuggets        Miami Heat
2  2022.0  Golden State Warriors    Boston Celtics
3  2021.0        Milwaukee Bucks      Phoenix Suns
4  2020.0     Los Angeles Lakers        Miami Heat

In [103]:
champions_df.tail()

      Year            Champion           Runner-Up
42  1984.0      Boston Celtics  Los Angeles Lakers
43  1983.0  Philadelphia 76ers  Los Angeles Lakers
44  1982.0  Los Angeles Lakers  Philadelphia 76ers
45  1981.0      Boston Celtics     Houston Rockets
46  1980.0  Los Angeles Lakers  Philadelphia 76ers

In [104]:
champions_df['Year'] = champions_df['Year'].astype(int)
np.dtype(champions_df['Year'])

dtype('int64')

In [105]:
melted_champions = pd.melt(champions_df, id_vars =['Year'], value_vars =['Champion', 'Runner-Up'])
melted_champions.rename(columns = {'value':'Team', 'variable':'Finals_Rk'}, inplace = True)
melted_champions.columns

Index(['Year', 'Finals_Rk', 'Team'], dtype='object')

In [106]:
new_avg_df = new_avg_df.merge(melted_champions, how = "left", on = ['Year', 'Team'])
new_avg_df.head()

,Team,Age,Wins,Losses,Year,Playoff,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,3PAr,eFG%,FT,FTA,FT%,TS%,AST,ORB,TRB,PTS,MOV,ORtg,DRtg,Pace,TOV%,ORB%,Finals_Rk
0,Boston Celtics,27.3,61,21,1980,True,44.1,90.1,49.0,42.1,84.9,49.6,2.0,5.1,38.4,5.7,50.1,23.3,29.9,77.9,55.0,26.8,15.0,44.9,113.5,7.79,109.4,101.9,102.6,15.4,34.8,NaN
1,Los Angeles Lakers,26.2,60,22,1980,True,47.5,89.9,52.9,47.3,88.6,53.4,0.2,1.2,20.0,1.4,53.0,19.8,25.5,77.5,56.9,29.4,13.2,45.6,115.1,5.90,109.5,103.9,104.1,16.5,32.6,Champion
2,Oklahoma City Thunder,27.0,56,26,1980,True,43.3,92.3,47.0,42.6,90.0,47.4,0.7,2.3,31.2,2.5,47.4,21.1,27.5,76.8,52.0,24.9,16.8,47.9,108.5,4.66,105.8,101.2,101.8,14.9,36.4,NaN
3,Philadelphia 76ers,27.0,59,23,1980,True,43.0,87.3,49.2,42.6,85.7,49.7,0.3,1.5,21.6,1.7,49.4,22.9,29.6,77.2,54.4,27.1,14.5,46.6,109.1,4.22,105.0,101.0,103.0,17.2,33.5,Runner-Up
4,Milwaukee Bucks,25.3,49,33,1980,True,44.9,92.1,48.8,44.3,90.2,49.1,0.6,1.9,32.3,2.1,49.1,19.6,25.6,76.4,53.2,27.8,15.2,44.4,110.1,3.94,106.8,102.9,102.4,15.0,35.2,NaN

In [107]:
total_df = total_df.merge(melted_champions, how = "left", on = ['Year', 'Team'])
total_df.head()

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year,Playoff,Finals_Rk
0,San Antonio Spurs,3856,7738,49.8,3804,7532,50.5,52,206,25.2,2024,2528,1153,3668,2326,1589,9788,1980,True,NaN
1,Los Angeles Lakers,3898,7368,52.9,3878,7268,53.4,20,100,20.0,1622,2092,1085,3738,2413,1639,9438,1980,True,Champion
2,Cleveland Cavaliers,3811,8041,47.4,3775,7854,48.1,36,187,19.3,1702,2205,1307,3688,2108,1370,9360,1980,False,NaN
3,New York Knicks,3802,7672,49.6,3760,7481,50.3,42,191,22.0,1698,2274,1236,3539,2265,1613,9344,1980,False,NaN
4,Boston Celtics,3617,7387,49.0,3455,6965,49.6,162,422,38.4,1907,2449,1227,3684,2198,1539,9303,1980,True,NaN

In [108]:
for i, row in new_avg_df.iterrows():
    if ((row.Playoff == True) and (pd.isna(row.Finals_Rk))):
        new_avg_df.at[i, 'Finals_Rk'] = 'Knocked Out'
    elif ((row.Playoff == False) and (pd.isna(row.Finals_Rk))):
        new_avg_df.at[i, 'Finals_Rk'] = 'Never Qualified'
    else:
        pass

new_avg_df.head()

,Team,Age,Wins,Losses,Year,Playoff,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,3PAr,eFG%,FT,FTA,FT%,TS%,AST,ORB,TRB,PTS,MOV,ORtg,DRtg,Pace,TOV%,ORB%,Finals_Rk
0,Boston Celtics,27.3,61,21,1980,True,44.1,90.1,49.0,42.1,84.9,49.6,2.0,5.1,38.4,5.7,50.1,23.3,29.9,77.9,55.0,26.8,15.0,44.9,113.5,7.79,109.4,101.9,102.6,15.4,34.8,Knocked Out
1,Los Angeles Lakers,26.2,60,22,1980,True,47.5,89.9,52.9,47.3,88.6,53.4,0.2,1.2,20.0,1.4,53.0,19.8,25.5,77.5,56.9,29.4,13.2,45.6,115.1,5.90,109.5,103.9,104.1,16.5,32.6,Champion
2,Oklahoma City Thunder,27.0,56,26,1980,True,43.3,92.3,47.0,42.6,90.0,47.4,0.7,2.3,31.2,2.5,47.4,21.1,27.5,76.8,52.0,24.9,16.8,47.9,108.5,4.66,105.8,101.2,101.8,14.9,36.4,Knocked Out
3,Philadelphia 76ers,27.0,59,23,1980,True,43.0,87.3,49.2,42.6,85.7,49.7,0.3,1.5,21.6,1.7,49.4,22.9,29.6,77.2,54.4,27.1,14.5,46.6,109.1,4.22,105.0,101.0,103.0,17.2,33.5,Runner-Up
4,Milwaukee Bucks,25.3,49,33,1980,True,44.9,92.1,48.8,44.3,90.2,49.1,0.6,1.9,32.3,2.1,49.1,19.6,25.6,76.4,53.2,27.8,15.2,44.4,110.1,3.94,106.8,102.9,102.4,15.0,35.2,Knocked Out

In [109]:
for i, row in total_df.iterrows():
    if ((row.Playoff == True) and (pd.isna(row.Finals_Rk))):
        total_df.at[i, 'Finals_Rk'] = 'Knocked Out'
    elif ((row.Playoff == False) and (pd.isna(row.Finals_Rk))):
        total_df.at[i, 'Finals_Rk'] = 'Never Qualified'
    else:
        pass
total_df.head(10)

,Team,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,ORB,TRB,AST,TOV,PTS,Year,Playoff,Finals_Rk
0,San Antonio Spurs,3856,7738,49.8,3804,7532,50.5,52,206,25.2,2024,2528,1153,3668,2326,1589,9788,1980,True,Knocked Out
1,Los Angeles Lakers,3898,7368,52.9,3878,7268,53.4,20,100,20.0,1622,2092,1085,3738,2413,1639,9438,1980,True,Champion
2,Cleveland Cavaliers,3811,8041,47.4,3775,7854,48.1,36,187,19.3,1702,2205,1307,3688,2108,1370,9360,1980,False,Never Qualified
3,New York Knicks,3802,7672,49.6,3760,7481,50.3,42,191,22.0,1698,2274,1236,3539,2265,1613,9344,1980,False,Never Qualified
4,Boston Celtics,3617,7387,49.0,3455,6965,49.6,162,422,38.4,1907,2449,1227,3684,2198,1539,9303,1980,True,Knocked Out
5,Indiana Pacers,3639,7689,47.3,3551,7375,48.1,88,314,28.0,1753,2333,1398,3724,2148,1517,9119,1980,False,Never Qualified
6,Phoenix Suns,3570,7235,49.3,3502,6955,50.4,68,280,24.3,1906,2466,1071,3529,2283,1629,9114,1980,True,Knocked Out
7,Houston Rockets,3599,7496,48.0,3495,7117,49.1,104,379,27.4,1782,2326,1394,3611,2149,1565,9084,1980,True,Knocked Out
8,Milwaukee Bucks,3685,7553,48.8,3635,7398,49.1,50,155,32.3,1605,2102,1245,3641,2277,1496,9025,1980,True,Knocked Out
9,Philadelphia 76ers,3523,7156,49.2,3496,7031,49.7,27,125,21.6,1876,2431,1187,3822,2226,1708,8949,1980,True,Runner-Up

__Saving data to csv's__

In [110]:
total_df.to_csv('data/cleaned_total_st.csv', index=False)
new_avg_df.to_csv('data/cleaned_avg_st.csv', index=False)